@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;

        /* give titles some breathing room when scrolled to */
        scroll-padding-top: 60px;
        @media (max-width: 640px) {
            scroll-padding-top: 40px;
        }
    }
    h1, h2, h3 {
        text-wrap: balance;
    }
    h1 {
        @apply font-semibold 2xl:text-[55px] lg:text-[50px] md:text-[45px] sm:text-[45px] text-[40px] 2xl:leading-[60px] lg:leading-[55px] md:leading-[50px] sm:leading-[45px] leading-[40px] text-primary-black
    }
    h2 {
        @apply font-semibold 2xl:text-4xl xl:text-3xl lg:text-3xl md:text-3xl sm:text-3xl text-3xl text-primary-black
    }
    h3 {
        @apply font-semibold 2xl:text-2xl xl:text-2xl md:text-xl sm:text-xl text-lg text-primary-black
    }
    p {
        @apply font-light 2xl:text-xl xl:text-[19px] md:text-lg sm:text-[17px] text-base 2xl:leading-[27px] xl:leading-[26px] lg:leading-[25px] md:leading-[24px] sm:leading-[22px] leading-[21px] text-primary-black
    }

    body {
    @apply bg-gradient-to-b from-slate-100 to-slate-200 text-primary-black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
}
/* Highlight sometimes bleeds onto neighbouring word and covers it, z-1 stops that */
.rough-annotation {
    z-index: -1;
}

/* Specialised bottom shadow only for project images */
.bottomshadow {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -50px, rgba(0, 0, 0, 0.15) 0px 18px 30px -18px;
}

/* Left to right underline animation when hover on text */
.hover-underline-animation-b {
    display: inline-block;
    position: relative;
}

.hover-underline-animation-b::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #180D4C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-b:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}